/.idea/

/.venv
/env/
pip-selfcheck.json
*.pyc
__pycache__
/build
/dist
/*.egg-info
/.eggs

*.yaml
!.pre-commit-config.yaml
!example-config.yaml
!/mautrix_telegram/web/provisioning/spec.yaml
!/.github/workflows/*.yaml

/start
/mautrix
/telethon

*.log*
*.db
*.db-*
/*.pickle
*.bak
/*.json
