# Format: #/name defines a new extras_require group called name
# Uncommented lines after the group definition insert things into that group.

#/speedups
cryptg>=0.1,<0.6
aiodns
brotli

#/qr_login
pillow>=10.0.1,<12
qrcode>=6,<9

#/formattednumbers
phonenumbers>=8,<10

#/metrics
prometheus_client>=0.6,<0.23

#/e2be
python-olm>=3,<4
pycryptodome>=3,<4
unpaddedbase64>=1,<3

#/sqlite
aiosqlite>=0.16,<0.22

#/proxy
python-socks[asyncio]
