SQLAlchemy>=1.2,<2
alembic>=1,<2
ruamel.yaml>=0.15.35,<0.17
python-magic>=0.4,<0.5
commonmark>=0.8,<0.10
aiohttp>=3,<4
mautrix==0.5.0.beta15
telethon>=1.13,<1.14
telethon-session-sqlalchemy>=0.2.14,<0.3
